@import '../../../../assets/style/variable.scss';

.heading {
  color: $primary-green;

}

.content {
  ul {
    li {
      color: $primary-black;
      padding: 10px;
      margin: 10px;
      font-size: 14px;
    }
  }
}
