.card {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 30px auto 30px 30px;
  border: 0;

  .img {
    width: 220px;
  }

  .content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;

    .desc {
      display: flex;
      flex-direction: column;
      align-items: start;

      .title {
        color: #000;

        font-size: 24px;
        padding-bottom: 5px;
      }

      .price {
        padding-left: 10px;
        color: #005F5F;
        font-size: 24px;
        font-weight: 400;
      }

    }

    .desc1 {
      .qty {
        display: flex;

        .qtyBtn {
          display: flex;
          flex-direction: row;
          border: 0.5px solid var(--gray, #E4E4E4);
          width: max-content;

          .less {
            border-right: 0.5px solid var(--gray, #E4E4E4);
          }

          .add {
            border-left: 0.5px solid var(--gray, #E4E4E4);
          }

          input {
            border: none;
            text-align: center;
            width: 100px;
          }
        }


      }
    }
  }
}

.remove {
  display: flex;
  justify-content: flex-end;

  button {
    color: red;
  }
}

@media (max-width:1000px) {

  .card {
    width: 300px;
    margin: 10px auto;
    flex-direction: column;



    .img {
      width: 300px;
    }

    .content {
      padding: 10px 5px;
      // margin: auto;
      width: max-content;

      .desc {
        display: flex;
        justify-content: space-between;
        // align-self: center;

        .title {
          font-size: 18px;
          font-weight: bold;
          word-break: break-all;
        }

        .price {
          padding: 0;
        }
      }

      // .desc1 {
      // .qty {
      //   .qtyBtn {
      //     display: flex;
      //     flex-direction: row;
      //     border: 0.5px solid var(--gray, #E4E4E4);
      //     width: max-content;

      //     .less {
      //       border-right: 0.5px solid var(--gray, #E4E4E4);
      //     }

      //     .add {
      //       border-left: 0.5px solid var(--gray, #E4E4E4);
      //     }

      //     input {
      //       border: none;
      //       text-align: center;
      //       width: 100px;
      //     }
      //   }


      // }
      // }
    }
  }
}