.cart-product-card {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 30px auto 30px 30px;
  border: 0;
  background-color: #f8f8f8;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;

  .img {
    width: 14.5rem;
  }

  .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;

    .desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .title {
        color: #000;

        font-size: 18px;
        padding-bottom: 5px;
      }

      .mrp {
        text-decoration: line-through;
      }

      .price {
        color: #005F5F;
        font-size: 15px;
        font-weight: 700;
      }

      .descText {
        font-size: 13px;
      }

      .colorSize {
        display: flex;
        align-items: center;

        .color {
          display: block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: pink;
        }
      }

    }

    .qtyButtons {
      .qty {
        display: flex;
        width: max-content;
        overflow: hidden;
        height: 40px;

        .qtyBtn {
          display: flex;
          flex-direction: row;
          border: 0.5px solid var(--gray, #bdbdbd);
          width: max-content;
          box-shadow: inset 0.5px 0.5px 3px #bebebe;

          .less {
            border-right: 0.5px solid var(--gray, #E4E4E4);
            width: 100%;
          }

          .add {
            border-left: 0.5px solid var(--gray, #E4E4E4);
            width: 100%;
          }

          input {
            border: none;
            text-align: center;
            width: 40px;
          }
        }


      }
    }
  }
}

.remove {
  display: flex;
  justify-content: flex-end;

  button {
    color: red;
  }
}

@media (max-width:1000px) {

  .card {
    width: 100%;
    margin: 10px auto;
    flex-direction: row;



    .img {
      width: 200px;
    }

    .content {
      padding: 10px 5px;
      // margin: auto;
      width: 100%;

      .desc {
        display: flex;
        justify-content: space-between;
        // align-self: center;

        // .title {
        //   font-size: 18px;
        //   font-weight: bold;
        //   word-break: break-all;
        // }

        .price {
          padding: 0;
        }
      }

      // .desc1 {
      // .qty {
      //   .qtyBtn {
      //     display: flex;
      //     flex-direction: row;
      //     border: 0.5px solid var(--gray, #E4E4E4);
      //     width: max-content;

      //     .less {
      //       border-right: 0.5px solid var(--gray, #E4E4E4);
      //     }

      //     .add {
      //       border-left: 0.5px solid var(--gray, #E4E4E4);
      //     }

      //     input {
      //       border: none;
      //       text-align: center;
      //       width: 100px;
      //     }
      //   }


      // }
      // }
    }
  }
}