@import '../../../../assets/style/variable.scss';
.heroslider {
  border-radius: 30px;

  .media {
    width: 100%;
    height: 650px;
  }

  .content,
  .contentMain {
    margin: 50px;
    width: max-content;
    position: absolute;
    z-index: 2;
    border-radius: inherit;

    .tag {
      top: 0;
      font-size: 16px;
      color: $primary-white;
      text-transform: uppercase;
      letter-spacing: 15%;
      font-weight: bold;
    }

    @media (max-width:480px) {
      margin: 30px;

      .tag {
        font-size: 12px;
      }
    }

  }

  .content {
    top: 0;
  }

  .contentMain {
    bottom: 0;
    width: 50%;

    .contentHead {
      color: $primary-white;
      margin-bottom: 14px;
    }

    .subText {
      color: $primary-white;
      font-size: 14px;
    }

    .shopNow {
      width: 50%;
      background-color: $primary-green;
      color: $primary-white;
      padding: 15px 20px;
    }

    @media (max-width:780px) {
      width: 75%;

      .shopNow {
        width: 75%;
      }

      .subText {
        font-size: 12px;
      }
    }
  }

  @media (max-width:500px) {
    .media {
      height: 422.5px;
    }
  }
}

.vedio,
.img {
  width: inherit;
  height: inherit;
  position: absolute;
  object-fit: cover;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: inherit;
  background: rgb(0 0 0 / 57%);
  z-index: 1;
  border-radius: 30px;
}

.shopNow {
  width: 100%;
  background-color: $primary-green;
  color: $primary-white;
  border-radius: 10px;
  font-size: clamp(5px, 10vw, 12px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width:480px) {
    font-size: 8px;
  }

  img {
    width: 40px;
  }

  &:hover {
    box-shadow: 0px 1px 10px 0px rgba(255, 173, 0, 0.40);
  }
}
