<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="main cursor-pointer">
  <div class="img">
    <img loading="lazy"  [src]="product.img" alt="" srcset="" class="hero" (click)="productFunc(product.title)">
    <div class="icon">

      <div class="wishlist" [ngClass]="{'active':product.wishlist}" (click)="wishlist(product.wishlist)">
        <ng-icon name="heroHeart" class="d-flex"></ng-icon>
      </div>
      <div class="cart" [ngClass]="{'active':product.cart}" (click)="cart(product.cart)">
        <ng-icon name="heroShoppingBag" class="d-flex"></ng-icon>
      </div>
    </div>

  </div>
  <div class="content" (click)="productFunc(product.title)">
    <div class="head">

      <h2 class="title">
        {{product.title}}
      </h2>
      <p class="desc">{{product.des}}</p>
      <p class="price">{{product.price | currency:'INR'}} </p>
    </div>

    <!-- <button class="btn w-100">Buy Now &nbsp; <i class="fa-regular fa-credit-card blink_me"></i></button> -->
  </div>
</div>
