  @import url('../../shared/style/animation.scss');
  @import '../../../assets/style/variable.scss';

  .main {
    width: 230px;
    transition: 0.5s ease-in-out;
    margin-bottom: 15px;

    @media (max-width: 780px) {
      width: 150px;
      margin: 10px 5px;
      display: block;
    }

    .img {
      position: relative;

      .hero {
        width: 100%;
        height: 197px;
        object-fit: contain;
        object-position: center;
      }

      .icon {
        position: absolute;
        top: 5%;
        right: 3%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .wishlist.active{
          background-color:  $primary-red !important;
          color: $primary-white !important;

        }
        .cart.active{
          background-color:  $primary-green !important;
          color: $primary-white !important;
        }
        div {
          width: 100%;
          padding: 10px;
          border-radius:  50%;
          background-color: $light-white-shadow;
          white-space: nowrap;
          vertical-align: top;
          ng-icon{
            width: 1.2em;
            justify-content: center;
          }
        }
      }

      @media (max-width:780px) {
        .hero {
          width: 100%;
          height: 50%;
        }
      }
    }


    .content {
      padding: 12px 4px;

      .head {
        display: flex;
        flex-direction: column;

        @media (max-width: 780px) {
          display: block;
        }

        .title {
          color: $primary-green;
          font-size: 16px;
          line-height: normal;
          max-inline-size: -webkit-fill-available;
          font-weight: 500;
        }

        .desc {
          color: $description-black;
          font-size: 14px;
          font-weight: 300;
          line-height: normal;
          margin-bottom: 2px;
        }

        .price {
          font-size: 14px;
          font-weight: 700;
          color: $primary-green;
        }

        @media (max-width:780px) {
          .title {
            font-size: 15px;
            margin-bottom: 2px;
          }

          .desc {
            font-size: 10px;
            font-weight: 200;
          }

          .price {
            font-size: 15px;

          }
        }
      }



      button {
        padding: 17px 24px;
        background-color: $primary-green;
        color: $primary-white;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        border-radius: 0px;
      }
    }
    padding: 0.6em;

    &:hover {
      box-shadow: 0px 0px 5px $primary-yellow;
      padding: 0.5em;
    }
  }


  @media (max-width:480px) {
    .main {
      width: 40vw;
      margin: 0px;

      .img {
        .icon {
          div{
            padding: 5px;
            ng-icon {
              width: 0.8em;
            }
          }
        }
      }

      .content {
        .head {
          h2 {
            font-size: 12px;
          }

          p {
            font-size: 12px;
          }
        }

        .desc p {
          font-size: 10px;
        }

        button {
          padding: 5px 10px;
          font-size: 8px;
          font-weight: 400;
          border: 0;
          box-shadow: 0px 0px 2px $primary-yellow;
        }
      }
    }
  }
