  @import url('../../shared/style/animation.scss');

  .main {
    margin: 10px;
    width: 330px;
    transition: 0.5s ease-in-out;

    @media (max-width: 780px) {
      width: 180px;
      margin: 10px 5px;
      display: block;
    }

    .img {
      position: relative;

      .hero {
        width: 100%;
        height: auto;
      }

      .icon {
        position: absolute;
        top: 0%;
        right: 5%;
        display: flex;
        flex-direction: column;

        img {
          margin-top: 10px;
        }
      }
    }

    .content {
      padding: 18px 8px;

      .head {
        display: flex;

        @media (max-width: 780px) {
          display: block;
        }

        h2 {
          color: #000;
          font-size: clamp(20px, 5vw, 24px);
          font-weight: 500;
          line-height: normal;
          width: 200px;
          max-inline-size: -webkit-fill-available;
        }

        p {
          color: #000;
          font-size: clamp(20px, 5vw, 24px);
          font-weight: 400;
          line-height: normal;
        }
      }

      .desc p {
        color: #000;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
      }

      button {
        padding: 17px 24px;
        background-color: #005F5F;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        border-radius: 0px;
      }
    }

    &:hover {
      box-shadow: 0px 0px 5px #FFA300;
    }
  }

  .wishlistTrue {
    background-image: url('../../../assets/product/wishlistTrue.svg');
  }

  .wishlistFalse {
    background-image: url('../../../assets/product/wishlistFalse.svg');
  }

  .bagTrue {
    background-image: url('../../../assets/product/bagTrue.svg');
  }

  .bagFalse {
    background-image: url('../../../assets/product/bagFalse.svg');
  }

  @media (max-width:480px) {
    .main {
      width: 47vw;
      margin: 10px 3px;

      .img {
        .icon {
          width: 20px;
        }
      }

      .content {
        .head {
          h2 {
            font-size: 12px;
          }

          p {
            font-size: 12px;
          }
        }

        .desc p {
          font-size: 10px;
        }

        button {
          padding: 5px 10px;
          font-size: 8px;
          font-weight: 400;
          border: 0;
          box-shadow: 0px 0px 2px #FFA300;
        }
      }
    }
  }