<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="main cursor-pointer" >
  <div class="img">
    <img loading="lazy"  [src]="getImage()" alt="" srcset="" class="hero"  (click)="productFunc(product.product_id)">
    <div class="icon">

      <div class="remove" (click)="remove(product.product_id)" *ngIf="wishlistPage">
        <ng-icon name="featherTrash" class="d-flex"></ng-icon>
      </div>
      <div class="wishlist" [ngClass]="{'active':product.in_wishlist}" (click)="wishlist(product.product_id,product.in_wishlist)" *ngIf="!wishlistPage">
        <ng-icon name="heroHeart" class="d-flex"></ng-icon>
      </div>
      <div class="cart" [ngClass]="{'active':product.in_cart}" (click)="cart(product)">
        <ng-icon name="heroShoppingBag" class="d-flex"></ng-icon>
      </div>
    </div>

  </div>
  <div class="content" (click)="productFunc(product.product_id)">
    <div class="head">

      <h2 class="title">
        {{product.product_title}}
      </h2>
      <p class="desc">{{product.product_description}}</p>
      <p class="price">{{product.price | currency:'INR'}} </p>
    </div>

    <!-- <button class="btn w-100">Buy Now &nbsp; <i class="fa-regular fa-credit-card blink_me"></i></button> -->
  </div>
</div>
