  @import url('../../shared/style/animation.scss');

  .main {
    // margin: 10px;
    width: 300px;
    transition: 0.5s ease-in-out;
    // box-shadow: 0.2px 0.2px 5px rgb(0 0 0 / 23%);
    // border-radius: 10px;

    @media (max-width: 780px) {
      width: 180px;
      margin: 10px 5px;
      display: block;
    }

    .img {
      position: relative;

      .hero {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
      }

      .icon {
        position: absolute;
        top: 0%;
        right: 5%;
        display: flex;
        flex-direction: row;

        div {
          width: 100%;
          margin-left: 5px;

          img {
            width: 100%;
            margin-top: 10px;
          }
        }
      }

      @media (max-width:780px) {
        .hero {
          width: 100%;
          height: 50%;
        }
      }
    }


    .content {
      padding: 12px 4px;

      .head {
        display: flex;
        flex-direction: column;

        @media (max-width: 780px) {
          display: block;
        }

        .title {
          color: #000;
          font-size: 22px;
          line-height: normal;
          // width: 200px;
          max-inline-size: -webkit-fill-available;
        }

        .desc {
          color: #000;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 2px;
        }

        .price {
          font-size: 20px;
          font-weight: 500;
        }

        @media (max-width:780px) {
          .title {
            font-size: 15px;
            margin-bottom: 2px;
          }

          .desc {
            font-size: 10px;
          }

          .price {
            font-size: 13px;

          }
        }
      }



      button {
        padding: 17px 24px;
        background-color: #005F5F;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        border-radius: 0px;
      }
    }

    &:hover {
      box-shadow: 0px 0px 5px #FFA300;
    }
  }

  .wishlistTrue {
    background-image: url('../../../assets/product/wishlistTrue.svg');
  }

  .wishlistFalse {
    background-image: url('../../../assets/product/wishlistFalse.svg');
  }

  .bagTrue {
    background-image: url('../../../assets/product/bagTrue.svg');
  }

  .bagFalse {
    background-image: url('../../../assets/product/bagFalse.svg');
  }

  @media (max-width:480px) {
    .main {
      width: 40vw;
      margin: 10px 3px;

      .img {
        .icon {
          div {
            img {

              width: 20px;
            }
          }
        }
      }

      .content {
        .head {
          h2 {
            font-size: 12px;
          }

          p {
            font-size: 12px;
          }
        }

        .desc p {
          font-size: 10px;
        }

        button {
          padding: 5px 10px;
          font-size: 8px;
          font-weight: 400;
          border: 0;
          box-shadow: 0px 0px 2px #FFA300;
        }
      }
    }
  }