<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="main cursor-pointer">
  <div class="img">
    <img [src]="product.img" alt="" srcset="" class="hero" (click)="productFunc(product.title)">
    <div class="icon">
      <img src="../../../assets/product/wishlistTrue.svg" alt="" *ngIf="product.wishlist">
      <!-- [ngClass]="{'wishlistTrue': !isHovered && product.wishlist, 'wishlistFalse': isHovered && product.wishlist}"
      (mouseenter)="addActiveClass()" (mouseleave)="removeActiveClass()" -->

      <img src="../../../assets/product/wishlistFalse.svg" alt="" *ngIf="!product.wishlist">
      <img src="../../../assets/product/bagTrue.svg" alt="" *ngIf="product.cart">
      <img src="../../../assets/product/bagFalse.svg" alt="" *ngIf="!product.cart">
    </div>

  </div>
  <div class="content" (click)="productFunc(product.title)">
    <div class="head">

      <h2>
        {{product.title}}
      </h2>
      <p>{{product.price | currency:'INR'}} </p>
    </div>
    <div class="desc">
      <p>{{product.des}}</p>
    </div>
    <button class="btn w-100">Buy Now &nbsp; <i class="fa-regular fa-credit-card blink_me"></i></button>
  </div>
</div>
