<div class="main">
  <div class="productMain row">
    <splide [options]="
{
  arrows:false,
  autoplay:true,
  type:'loop'
}
" class="col-lg-6">
      <splide-slide *ngFor='let img of productImg; let first = first'>
        <div class="image ">
          <div class="headImage">
            <img loading="lazy"  [src]="img" alt="" srcset="" class="w-100">
          </div>
          <!-- <div class="other">
        <ng-container *ngFor='let img of productImg; let first = first'>
          <ng-container *ngIf="!first">
            <img loading="lazy"  [src]="img" alt="" srcset="" class=" otherImage">
          </ng-container>
        </ng-container>
      </div> -->
        </div>
      </splide-slide>
    </splide>

    <div class="content col-lg-6">
      <div class="head">

        <h2 class="title">WAISTCOAT WITH CONTRAST PIPING</h2>
        <p class="price">$122.00</p>
      </div>
      <div class="text">
        <div class="desc">
          <p class="descHead">
            Description
          </p>
          <p>
            Round neck waistcoat featuring front welt pockets, contrast trims, a pleat in the back and metal appliqué
            fastening in
            the front.
          </p>
        </div>
        <div class="desc summary">
          <div>
            <p class="descHead">
              Summary
            </p>
            <p>Color : Navy Blue</p>
          </div>
        </div>
        <!-- <mat-form-field class="size">
<mat-select placeholder="Select Size">
 <mat-option>None</mat-option>
 <mat-option *ngFor="let state of size" [value]="state">{{state}}</mat-option>
</mat-select>
</mat-form-field> -->
        <div class="size">
          <p class="descHead">
            Size
          </p>
          <ul class="list-inline">

            <ng-container *ngFor="let size of size">

              <li><button class="btn outline ">
                  {{size}}
                </button></li>
            </ng-container>
          </ul>

        </div>
      </div>
      <p class="descHead">
        Quantity
      </p>
      <div class="qty d-flex ">
        <button class="btn qtyBtn"><mat-icon class="mat-18 d-flex">add</mat-icon></button>
        <input type="number" [formControl]="quantity" class="qtyText" [value]="quantity.value">
        <button class="btn qtyBtn"><mat-icon class="mat-18 d-flex">remove</mat-icon></button>
      </div>
      <div class="cart d-flex">
        <button class="btn cartBtn d-flex justify-content-center align-item-center" (click)="addToCart()"> Add to cart
          <ng-icon name="heroShoppingBag" class="d-flex"></ng-icon></button>
        <button class="btn cartBtn buyNow">Buy Now &nbsp; <i class="fa-regular fa-credit-card blink_me"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between align-items-center mb-5">
  <h2 class="heading">You may also Like</h2>
  <button class="btn view">View all <ng-icon name="heroArrowLongRight"></ng-icon></button>
</div>

<!-- <h2 class="head">You may also Like</h2> -->
<div class="trending d-flex flex-wrap flex-row justify-content-evenly">
  <ng-container *ngFor="let item of product; let i=index">
    <app-product-card [product]="item" (productId)="productRoute($event)"></app-product-card>
  </ng-container>
</div>
