<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="category">
  <ng-container *ngFor="let catg of categories">


    <div class="main" (click)="navigateToCatg(catg.title)">
      <div class="content">
        <div class="img">

          <img loading="lazy"  [src]="catg.image" alt="" srcset="" class="w-100">
          <div class="overlay"></div>
          <button class="btn w-100">{{catg.title}} </button>
        </div>
      </div>
    </div>
  </ng-container>

</div>
