<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="main">
  <div class="header">
    <h2 class="head">Welcome Ayman</h2>
  </div>
  <div class="content">
    <p class="subHead m-0">Welcome to your dashboard, your one-stop-shop for all your recent MMJ account activity.</p>
    <hr>
    <div class="text">
      <div class="head">
        <p class="contentHead">
          Recent Orders
        </p>
        <p class="edit" *ngIf="allOrder.length > 0">view all orders</p>
      </div>
      <ul class="info" *ngIf="allOrder.length > 0 ; else noOrder">
        <li class=" order" *ngFor="let order of order; index as i" (click)="orderinfo(i)">
          <div class="image">
            <img loading="lazy"  [src]="order.image" alt="">
          </div>
          <div class="content">
            <p class="title">{{order.product_title}}</p>
            <p class="subText">{{order.subText}}</p>
            <p class="price">{{order.price | currency}}</p>
          </div>
        </li>
        <ng-container *ngIf="order.length ===0">
          <p>You haven't placed any orders yet.</p>
        </ng-container>

      </ul>
      <ng-template #noOrder>
        <div class="info">
          <p class="text-muted empty">No orderes yet</p>
        </div>
      </ng-template>

    </div>

    <div class="text">
      <div class="head">
        <p class="contentHead">
          Personal information
        </p>
        <p class="edit" (click)="updateDetails('userData')"><ng-icon name="featherEdit2"></ng-icon> Edit</p>
      </div>
      <ul class="info">
        <li>
          <p class="title ">Name:</p>
          <p class="value ">{{ user.first_name && user.last_name ? user.first_name + ' ' +  user.last_name :
            user.first_name && !user.last_name ? user.first_name :
            !user.first_name && user.last_name ? user.last_name :
             '-' }}</p>
        </li>
        <li>
          <p class="title">
            Phone :
          </p>
          <p class="value">
            {{ user.mobile_number ? user.mobile_number : '-'}}
          </p>
        </li>
        <li>
          <p class="title">
Email :
          </p>
          <p class="value">
            {{ user.email ? user.email : '-'}}
          </p>
        </li>
      </ul>
    </div>

    <hr>
    <div class="text">
      <div class="head">
        <p class="contentHead">
          Manage Address
        </p>
        <p class="edit" (click)="updateDetails('address')" *ngIf="address.length !==0"><ng-icon name="featherEdit2"></ng-icon> Edit</p>
      </div>
      <div class="address" *ngIf="address.length > 0">
        <div class="card" *ngFor="let addr of address">
          <p class="name">{{addr.name}}</p>
          <p class="addr">{{addr.address}}</p>
          <p class="state">{{addr.state}} {{addr.country}}</p>
          <p class="pin">{{addr.postalCode}}</p>
          <p class="number">{{addr.phone}}6</p>
        </div>

      </div>
      <ng-container *ngIf="address.length === 0">
        <div class="info">
          <p class="text-muted empty">You have not yet added an address.</p>
        </div>
      </ng-container>
      <p class="add" (click)="updateDetails('address')">Add new</p>
    </div>

  </div>

</div>
