@import '../../../../assets/style/variable.scss';
.main {
  width: 100%;

  .header {
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('../../../../assets/myProfile/my-profile-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .head {
      text-align: center;
      color: $primary-white;
      text-transform: uppercase;
    }
  }

  .content {
    padding-top: 20px;
    height: auto;

    .subHead {
      text-align: center;
      color: $primary-black;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.43rem;
      letter-spacing: 0.03125rem;
    }

    hr {
      color: $description-black;
    }

    .text {
      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .contentHead {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1rem;
          padding: 10px 0px;
          margin: 0;
        }

        // .edit {
        //   font-weight: 400;
        //   margin-left: 20px;
        //   font-size: 0.8rem;

        //   &:hover {
        //     border-bottom: 0.5px solid $primary-black;
        //     cursor: pointer;
        //   }
        // }
        ng-icon {
          --ng-icon__size: 1.3em;
        }
      }

      .info {
        padding: 10px 20px;

        li {
          display: flex;

          .title,
          .value {
            font-weight: 500;
            font-size: 16px;
            text-transform: capitalize;
            margin-right: 10px;
            margin-bottom: 2px;
          }

          .value {
            text-transform: none;
          }
        }

        li.order {
          display: flex;
          flex-direction: row;
          gap: 20px;
          border: 0.5px solid $med-white;

          .image {
            width: 180px;
            height: auto;
            object-fit: cover;
            object-position: center;
            display: flex;
            align-items: center;

            img {
              width: 100%;
            }
          }

          .content {
            .title {
              font-size: 1.2rem;
              font-weight: 500;
            }

            .subText {
              font-weight: 400;
              font-size: 0.8rem;
            }

            .price {
              font-weight: 500;
              font-size: 1rem;
            }
          }

        }
      }

      .address {
        .card {
          border: none;
          padding: 10px 20px;

          p {
            margin: 0;
          }
        }
      }

      .add {
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0px;
        font-size: 0.8rem;
        font-weight: 400;
        text-decoration: underline;
        color: $primary-green;
        cursor: pointer;
      }


    }
  }
  @media (max-width:768px) {
    .subHead , .contentHead , .edit , .info , .address , .empty ,.value ,.title{
      font-size: 12px !important;
    }
    ng-icon {
      --ng-icon__size: 0.8em !important
    }

  }
}
