@import '../../../../assets/style/variable.scss';

.mat-icon {
  font-size: 28px;
}

.full-star {
  color: $primary-green !important;
}

.half-star {
  color: $primary-green !important;
}

.empty-star {
  color: grey !important;
}
