<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand"><i class="fa-solid fa-bars"></i></a>
    <div class="collapse navbar-collapse" id="navbarScroll" [routerLink]="['/home']"
      routerLinkActive="router-link-active">
      <img src="../../../assets/mmj_logo.png" alt="" class="logo">
      <div class="icons">
        <div class="icons_main d-flex">
          <div class="d-flex cursor-pointer">
            <img src="../../../assets/profile.svg" alt="" srcset="">
            <p>Account</p>
          </div>

          <div class="d-flex cursor-pointer">
            <img src="../../../assets/heart-outline.svg" alt="" srcset="">
            <p>Wish</p>
          </div>

          <div class="d-flex cursor-pointer">
            <img src="../../../assets/cartbag-outline.svg" alt="" srcset="">
            <p>Bag</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</nav>