@import url('../../shared/style/animation.scss');
.firstNav{
  padding: 10px 0px;
  border-top:2px solid #005F5F ;
  .firstnavContent{
    .secondSearch.firstsearch{
      display: none;
    }
    .firstsearch{
      width: 75%;
      background-color: aliceblue;
      border-radius: 30px;
      color:  #4b4b4b;
      padding: 1em 2em;
    }
    .firsticons{
      .login{
        padding: 0.5em 0.8em;
        background-color: #005F5F;
        color: white;
      }
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      // flex-flow: column;
      .firstsearch{
        display: none !important;
      }
      .firsticons > .secondSearch{
        width: 100%;
        display: flex !important;
        padding: 0.5em 1em;
      }
    }
    @media screen and (max-width:480px) {
      .firsticons{
        justify-content: center !important;
      }
    .firsticons>  .secondSearch{
        width: auto;
    display: block !important;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0 !important;
        .searchText{
          display: none;
        }
      }
    }
  }
}

.logo {
  width: 213px;
  margin: auto;
  cursor: pointer;
  padding: 10px 20px;
  @media (max-width:768px) {
    width: 150px;
  }
}

.icons {
  &_main {
    margin-right: 37px;
    align-items: center;
    p {
      color: #000;
      text-align: center;
      text-transform: capitalize;
      margin: 0;
      text-align: center;
      font-size: 20px;
      padding-left: 5px;
    }
    @media (max-width:768px) {
      background-color: #005F5F;
    padding: 5px;
    color:  #f0f0f0;
    border-radius: 50%;
    :hover, :focus {
      box-shadow: 0.5px 0.5px 5px 0.5px #f0f0f0;
    }
    }
  }
}

@media (max-width:1024px) {
  .link {
    display: none;
  }
}

@media (max-width:768px) {
  .logo {
    width: 150px;
    padding: auto 0px;
  }

  .account {
    display: none !important;
  }


  .menu {
    display: block;
  }

  mat-icon {
    font-size: 25px;
    display: flex;
    justify-content: center;
  }

  .icons_main {
    margin-right: 10px;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24
}

::ng-deep .right-hidden-dialog {
  position: fixed;
  /* Use fixed position to align entire modal */
  top: 0;
  /* Adjust as needed */
  right: 0;
  /* Align to the right */
  bottom: 0;
  /* Adjust as needed */
  left: auto;
  /* To ensure it's fully aligned to the right */
  background: white;
  transition: transform 0.3s ease-in-out;
  /* Add a smooth transition effect */
  width: 40vw;
  height: 100vh;

  @media (max-width:1024px) {
    width: 50vw;
  }

  @media (max-width:690px) {
    width: 100vw;
  }
}

::ng-deep .left-hidden-dialog {
  position: fixed;
  /* Use fixed position to align entire modal */
  top: 0;
  /* Adjust as needed */
  right: auto;
  /* Align to the right */
  bottom: 0;
  /* Adjust as needed */
  left: 0;
  /* To ensure it's fully aligned to the right */
  background: white;
  transition: transform 0.2s ease-in-out;
  /* Add a smooth transition effect */
  width: 40vw;

  @media (max-width:1024px) {
    width: 50vw;
  }

  @media (max-width:690px) {
    width: 100vw;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.search.active {
  animation: slideInFromTop 0.3s ease-in-out;
}

::ng-deep .searchbar {
  position: fixed;
  /* Use fixed position to align entire modal */
  top: 0;
  /* Adjust as needed */
  right: 100%;
  /* Align to the right */
  bottom: 0;
  /* Adjust as needed */
  left: 0;
  /* To ensure it's fully aligned to the right */
  background: white;
  transition: transform 0.3s ease-in-out;
  /* Add a smooth transition effect */
  width: 100vw;
  height: max-content;
}
