<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<nav class="firstNav">
  <div class="firstnavContent d-flex justify-content-between align-items-center">
    <div class="firstsearch d-flex align-items-center justify-content-between  m-2 gap-4" (click)="navigate('search')">
      <p class="searchText">Search</p>
      <mat-icon class="material-symbols-outlined">search</mat-icon>
    </div>
    <div class="firstLogo d-flex align-items-center w-100 gap-4">
      <img class="logo" src="../../../assets/mmj_logo.png" alt="Logo" [routerLink]="['/home']">
    </div>

    <div class="firsticons d-flex justify-content-end align-items-center w-100 p-2 m-2 gap-4">
      <div class=" firstsearch secondSearch d-flex align-items-center justify-content-between  m-2 gap-4 d-none"
        (click)="navigate('search')">
        <p class="searchText">Search</p>
        <mat-icon class="material-symbols-outlined">search</mat-icon>
      </div>
      <div class="d-flex cursor-pointer  icons_main m-0 " (click)="navigate('profile')">
        <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
        <p class="link">Account</p>
      </div>
      <div class="d-flex cursor-pointer  icons_main m-0 " (click)="navigate('wishlist')">
        <mat-icon class="material-symbols-outlined">favorite</mat-icon>
        <p class="link">Like</p>
      </div>
      <div class="d-flex cursor-pointer icons_main" (click)="openCartModal()">
        <mat-icon class="material-symbols-outlined cart" aria-hidden="false">shopping_bag</mat-icon>
        <p class="link">Bag</p>
      </div>
    </div>
  </div>
</nav>
