<!-- filter  -->
<aside class="filter container fixed-bottom" id="myButton" [style.display]="buttonVisible ? 'block' : 'none'">
  <div class="main">
    <div class="content ">
      <button class="btn sortOption" (click)="filterBy('sort')">SORT</button>
      <div class="border"></div>
      <button class="btn sortOption" (click)="filterBy('filter')">Filter</button>
    </div>
  </div>
</aside>

<section class="slider">
  <app-slider [product]="sliderContent"></app-slider>
</section>

<!-- top selling products  -->
<h2 class="heading text-center mt-5">Top selling</h2>
<div class="trending d-flex flex-wrap flex-row justify-content-evenly">
  <ng-container *ngIf="latest$ | async as latest">

  <ng-container *ngFor="let item of latest.data;let i=index">
    <app-product-card [product]="item" (productId)="productRoute($event)"></app-product-card>
  </ng-container>
  </ng-container>
</div>
<!-- tops selling end  -->
<ng-container *ngIf="products$ | async as product">
  <div class="hero">
    <h2 class="heading text-center">{{type ? product.data[0].category.category_name : 'All Products'}}</h2>
  </div>
</ng-container>
<hr>
<!-- other products  -->
<div class="trending d-flex flex-wrap flex-row justify-content-evenly" #targetDiv>

<ng-container *ngIf="products$ | async as products">

    <ng-container *ngFor="let item of products.data;let i=index">
      <app-product-card [product]="item" (productId)="productRoute($event)"></app-product-card>
    </ng-container>
  </ng-container>
</div>
