<!-- filter  -->
<aside class="filter container fixed-bottom" id="myButton" [style.display]="buttonVisible ? 'block' : 'none'">
  <div class="main">
    <div class="content ">
      <!-- <div class="size">
        <p>
          Size
        </p>
        <button class="btn" (click)="filterBy('size')">+</button>
      </div>
      <div class="color">
        <p>
          Color
        </p>
        <button class="btn" (click)="filterBy('size')">+</button>
      </div>
      <div class="price">
        <p>
          Price
        </p>
        <button class="btn p-0" (click)="filterBy('size')">+</button>
      </div>
      <button class="btn text-mutted">Reset all</button> -->
      <!-- <h3>Filter By</h3>
      <mat-form-field>
        <mat-select placeholder="Select Option">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let state of filter" [value]="state">{{state}}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <button class="btn sortOption" (click)="filterBy('sort')">SORT</button>
      <div class="border"></div>
      <button class="btn sortOption" (click)="filterBy('filter')">Filter</button>
    </div>
  </div>
</aside>

<section class="slider">
  <app-slider [product]="sliderContent"></app-slider>
</section>

<!-- top selling products  -->
<h2 class="heading text-center mt-5">Top selling</h2>
<div class="trending d-flex flex-wrap flex-row justify-content-evenly">
  <ng-container *ngFor="let item of product;let i=index">
    <app-product-card [product]="item" (productId)="productRoute($event)"></app-product-card>
  </ng-container>
</div>
<div class="hero">
  <!-- <div class="main d-flex flex-row">
    <div class="img1 w-100 h-100   ">
      <h2 class="blink_me">Trending Now!</h2>
      <div>

        <button class="btn heroBtn" (click)="navigaToProduct(1)">
          View Product &nbsp; <i class="fa-solid fa-magnifying-glass blink_me"></i>
        </button>
      </div>
    </div>
    <div class="img2 w-100 h-100   ">
      <h2 class="blink_me">Best Seller!</h2>
      <div>

        <button class="btn heroBtn" (click)="navigaToProduct(2)">
          View Product &nbsp; <i class="fa-solid fa-magnifying-glass blink_me"></i>
        </button>
      </div>
    </div>
  </div> -->
  <h2 class="heading text-center">{{type ? type : 'All Products'}}</h2>
</div>

<!-- trending products -->
<!-- <h2 class="heading">Trending</h2>
<div class="trending d-flex flex-wrap flex-row justify-content-evenly">
  <ng-container *ngFor="let item of product;let i=index">
    <app-product-card [product]="item" (productId)="productRoute($event)"></app-product-card>
  </ng-container>
</div> -->

<hr>
<!-- other products  -->
<div class="trending d-flex flex-wrap flex-row justify-content-evenly" #targetDiv>

  <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8]">

    <ng-container *ngFor="let item of product;let i=index">
      <app-product-card [product]="item" (productId)="productRoute($event)"></app-product-card>
    </ng-container>
  </ng-container>
</div>

<!-- gallery  -->
<!-- <div class="gallery d-flex justify-content-spaceBetween">
  <div class="img1 w-100 h-100"></div>
  <div class="img2">

    <div></div>
    <p>travel in style</p>
  </div>
</div> -->