@import '../../../../assets/style/variable.scss';
.close{
  background-color: $primary-white;
button{
  margin-left: auto;
  display: block;
}
}
.dialog{
  background-color: $primary-white;
  padding: 20px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 50vw;

  @media (max-width:480px) {
    width: auto;
  }
.main{
  display: flex;
    flex-direction: column;
    align-items: center;
}
  .head{
    color: $primary-green;
    font-weight: 500;
    padding: 5px;
    text-align: left;
    font-size: 16px;
  }
  .sizeBtn{
    display: flex;
    justify-content: center;
    gap: 20px;
    button{
      box-shadow: 0px 0px 3px $med-white;
      font-size: 15px;
    }
    .active{
      background-color: $primary-green;
      border: none;
      color: $primary-white;
    }
  }
  .qtyBtn{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    button{
      text-transform: none;
    background: transparent;
    border: none;
    font-size: 15px;

    }
  }
  .qtyInput{
    width: 2rem;
    height: 2rem;
    box-shadow: 0px 0px 3px $description-black;
    border: none;
    text-align: center;
  }
}

.submit{
  background: $primary-green;
    width: 50%;
    padding: 10px;
    color: $primary-white;
    border-radius: 10px;
    border: none;
    margin: auto;
}
