<div class="login">
  <div class="login_main d-flex">
    <div class="card m-auto">
      <div class="card-body">
        <div class="card-title m-auto">
          <img src="../../../assets/mmj_logo.png" alt="logo" class="w-100">
        </div>
        <h1 class="card-subtitle">Welcome back!</h1>
        <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="login()">
          <label class="card-text" for="Mobile">Mobile Number</label>
          <input type="number" name="mobile" id="" placeholder="Enter mobile number" class="p-2"
            formControlName="mobile" required>

          <div *ngIf="m.mobile.touched && loginForm.status !== 'VALID'" class="alert alert-danger">
            <div *ngIf="m.mobile.errors?.['required']">Please enter mobile number</div>
            <div *ngIf="m.mobile.errors?.['pattern']">Mobile number is not 10 digit</div>
          </div>
          <button type="submit" class="btn fw-bold m-auto d-block w-100" [disabled]="loginForm.status !== 'VALID'">Send
            OTP</button>
        </form>

      </div>
    </div>
  </div>
</div>