<ng-container *ngIf="product.length !== 0 || !userDetail">
  <h3 class="heading text-center">My Wishlist</h3>
</ng-container>
<div class="wishlist">
  <div class="trending d-flex flex-wrap flex-row justify-content-evenly gap-3">
    <ng-container *ngFor="let item of product; let i = index">
      <app-product-card
        [product]="item.product"
        (removeWishList)="removeWishList($event)"
      ></app-product-card>
    </ng-container>
  </div>
</div>
<div class="noData">
  <ng-container *ngIf="!userDetail">
    <h2 class="heading">PLEASE LOG IN</h2>
    <p class="subtitle">Login to view items in your wishlist.</p>
    <button class="btn login">Login</button>
  </ng-container>

  <ng-container *ngIf="product.length === 0 && userDetail">
    <div class="empty">
      <p>Wishlist is empty</p>
    </div>
  </ng-container>
</div>
