@import '../../../../assets/style/variable.scss';
.wishlist {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}
.login{
  width: 100px;
  padding: 0.5em 1em;
  background-color: $primary-green;
  color: $primary-white;
}
.noData{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.empty{
  height: 60vh;
  display: flex;
  align-items: center;
}
