@import '../../../../assets/style/variable.scss';
        .card-subtitle {
          color: $description-black;
          font-size: 24px;
          font-weight: 700;
          padding-bottom: 20px;
        }
        .card-text {
          font-size: 18px;
          text-align: center;
          padding: 10px 0px;

          button {
            font-size: 18px;

            &:disabled {
              border: none;
              background-color: $primary-white;
            }
          }
        }
        .verifyBtn {
          margin-top: 20px;
          background-color: $primary-green;
          color: $primary-white;
          padding: 12.5px 0px;
          border-radius: 32px;
        }
        .back {
          color: $primary-green;
          margin: auto;
          display: block;
        }
                countdown {
          text-align: right;
          margin: auto;
          display: block;
          padding-right: 40px;

        }
