@import url('../../shared/style/animation.scss');
@import '../../../assets/style/variable.scss';


.shopNow {
  width: 100%;
  background-color: $primary-green;
  color: $primary-white;
  border-radius: 10px;
  font-size: clamp(5px, 10vw, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width:480px) {
    font-size: 8px;
  }

  img {
    width: 40px;
  }

  &:hover {
    box-shadow: 0px 1px 10px 0px rgba(255, 173, 0, 0.40);
  }
}

.banner{
  display: grid;
grid-template-columns: 1.5fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 0px;
height: 100%;
border-radius:30px ;
@media (max-width:480px) {
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  gap: 40px;
}
&_head{
  height: 400px;
  position: relative;
  border-radius:inherit;
  .overlay{
    position: absolute;
    border-radius: inherit;
    height: inherit;
    background: linear-gradient(0deg, $black-overlay-1 0%, $black-overlay-2 100%);
    z-index: 10;
    width: 100%;
    top: 0;
  }
}
&_image{
  object-fit: cover;
  border-radius: inherit;
}
&_text{
  position: absolute;
  z-index: 20;
  color: $primary-white;
  top: 70%;
  transform: translateY(-50%);
  left: 5%;
  text-align: start;
  .heading{
    text-align: left;
  }
  .subHead{
    font-size: 12px;
  }
  .bannerBtn{
    background-color: $primary-green;
    color: $primary-white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    transition:  all .3s ease;
    display: flex;
    gap: 30px;
  }
}
}
.review {
  margin-top: 30px;

  text-align: center;

  .title {
    margin: 40px 0px;
  }

  .subText {
    width: 50%;
    margin: 40px auto;
    display: block;

  }

  .reviewmain {
    margin-top: 40px;
  }

  @media (max-width:780px) {
    .subText {
      width: 100%;
    }
  }
}
