@import url('../../shared/style/animation.scss');

// the hero slider start-----------------------------------------
.heroslider {
  border-radius: 30px;

  .media {
    width: 100%;
    height: 650px;
  }

  .content,
  .contentMain {
    margin: 50px;
    width: max-content;
    position: absolute;
    z-index: 2;
    border-radius: inherit;

    .tag {
      top: 0;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 15%;
      font-weight: bold;
    }

    @media (max-width:480px) {
      margin: 30px;

      .tag {
        font-size: 12px;
      }
    }

  }

  .content {
    top: 0;
  }

  .contentMain {
    bottom: 0;
    width: 50%;

    .contentHead {
      color: white;
      margin-bottom: 14px;
    }

    .subText {
      color: white;
      font-size: 14px;
    }

    .shopNow {
      width: 50%;
      background-color: #005F5F;
      color: white;
      padding: 15px 20px;
    }

    @media (max-width:780px) {
      width: 75%;

      .shopNow {
        width: 75%;
      }

      .subText {
        font-size: 12px;
      }
    }
  }

  @media (max-width:500px) {
    .media {
      height: 422.5px;
    }
  }
}

.vedio,
.img {
  width: inherit;
  height: inherit;
  position: absolute;
  object-fit: cover;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: inherit;
  background: rgb(0 0 0 / 57%);
  z-index: 1;
  border-radius: 30px;
}

// the hero slider end-----------------------------------------
.category {
  margin-top: 20px;
}

//common head start -----------------------
.heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @media (max-width:780px) {
    font-size: 30px;
  }

  @media (max-width:480px) {
    font-size: 20px;
  }
}



//common head end -----------------------
.m-b-t-50 {
  margin: 50px 0px;
}

.shopNow {
  width: 100%;
  background-color: #005F5F;
  color: #fff;
  border-radius: 10px;
  font-size: clamp(5px, 10vw, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width:480px) {
    font-size: 8px;
  }

  img {
    width: 40px;
  }

  &:hover {
    box-shadow: 0px 1px 10px 0px rgba(255, 173, 0, 0.40);
  }
}

// end category start
.category {

  .main {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    gap: 50px;



    .left {
      height: 80vh;
      position: relative;
      width: 50%;

      .imageMain {
        width: 45vw;
        height: inherit;

        .overlay {
          position: absolute;
          width: inherit;
          height: inherit;
          background: rgb(0 0 0 / 57%);
          z-index: 1;
          border-radius: 30px;
        }

        .image {
          width: inherit;
          height: inherit;
          object-fit: cover;
          border-radius: 30px;
        }

        @media (max-width:768px) {
          border-radius: 15px;
        }
      }

    }

    .right {
      height: 80vh;
      display: flex;
      flex-direction: column;
      width: 100%;

      .one {
        height: 50%;
        position: relative;

        .imageMain {
          width: 45vw;
          height: 100%;

          .overlay {
            position: absolute;
            width: inherit;
            height: inherit;
            background: rgb(0 0 0 / 57%);
            z-index: 1;
            border-radius: 30px;
          }

          .image {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: 30px;
          }

          @media (max-width:768px) {
            border-radius: 15px;
          }
        }

        margin-bottom: 10px;
      }

      .two {
        height: 50%;
        position: relative;
        margin-top: 10px;

        .imageMain {
          width: 45vw;
          height: 100%;

          .overlay {
            position: absolute;
            width: inherit;
            height: inherit;
            background: rgb(0 0 0 / 57%);
            z-index: 1;
            border-radius: 30px;
          }

          .image {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: 30px;
          }

          @media (max-width:768px) {
            border-radius: 15px;
          }
        }
      }

      @media (max-width:768px) {
        height: 100%;

        .one {
          margin-top: 20px;
        }

        .one,
        .two {
          .imageMain {
            width: 100%;
          }
        }

      }
    }


    img {
      width: 100%;
    }

    .content {
      height: 100%;
      padding: 10%;
      width: 90%;
      position: absolute;
      z-index: 2;
      top: 0;

      .context {
        z-index: 2;
        color: white;
        text-transform: uppercase;
      }

      .text {
        position: absolute;
        bottom: 20%;
        color: white;
      }

      .hashtag {
        color: #fff;
        font-size: 14px;
        position: absolute;
        bottom: 10%;
        right: 10%;
      }
    }

    @media (max-width:768px) {
      display: block;
      width: 100%;

      .left {
        width: 100%;
        height: 40vh;

        .imageMain {
          width: 100%;
        }
      }

      .content {
        .context {
          font-size: 12px;
        }

        .text {
          .head {
            font-size: 17px;
          }

          .subText {
            font-size: 8px;
          }

          .shopNow {
            font-size: 12px;
            padding: 5px;
            width: 75%;
          }

        }

        .hashtag {
          font-size: 10px;
          right: 15%;
        }
      }
    }

    @media (max-width:768px) {
      height: auto;
    }
  }
}

.review {
  margin-top: 30px;

  text-align: center;

  .title {
    margin: 40px 0px;
  }

  .subText {
    width: 50%;
    margin: 40px auto;
    display: block;

  }

  .reviewmain {
    margin-top: 40px;
  }

  @media (max-width:780px) {
    .subText {
      width: 100%;
    }
  }
}