<splide [options]="
{
  arrows:false
}
">
  <splide-slide>
    <div class="heroslider">
      <div class="media">
        <div class="overlay"></div>
        <video src="../../../assets/home/mixkit-woman-modeling-a-short-black-dress-805-medium.mp4" autoplay muted loop playsinline class="vedio"></video>
      </div>
      <div class="content">
        <p class="tag">atheltic wear</p>
      </div>
      <div class="contentMain">
        <h1 class="contentHead"> Athletic wear that keeps up with your hustle.</h1>
        <button class="btn shopNow"(click)="navigateTo('allProduct')">Shop Collection <ng-icon name="heroArrowLongRight" class="d-flex"></ng-icon></button>
      </div>
    </div>
  </splide-slide>
</splide>



<div class="new-arrival m-b-t-50">
     <div class="d-flex justify-content-between align-items-center">
        <h2 class="heading">Latest Arrivals</h2>
        <button class="btn view">View all <ng-icon name="heroArrowLongRight"></ng-icon></button>
      </div>
  <div class="newarrival d-flex flex-wrap flex-row justify-content-evenly">
    <ng-container *ngFor="let item of product;let i=index">
      <app-product-card [product]="item" (productId)="productRoute($event)"></app-product-card>
    </ng-container>
  </div>
</div>

  <div class="category mb-5 m-b-t-50">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="heading">shop by categories</h2>
        <!-- <button class="btn view">View all </button> -->
      </div>
      <app-category-card></app-category-card>
</div>

<div class="slider w-100">
  <splide [options]="
{
  arrows:false,
}
">
    <splide-slide>
    <div class="heroslider">
      <div class="media">
        <div class="overlay"></div>
        <img class="img" src="../../../assets/home/adventureImg.jpg" alt="" srcset="">
      </div>
      <div class="content">
        <p class="tag">atheltic wear</p>
      </div>
      <div class="contentMain">
        <h1 class="contentHead">Adventure Bound Attire</h1>
        <p class="subText">Adventure-ready apparel,Designed for comfort and style on the open road</p>
        <button class="btn shopNow"(click)="navigateTo('allProduct')">Shop Collection <ng-icon name="heroArrowLongRight" class="d-flex"></ng-icon></button>
      </div>
    </div>
    </splide-slide>
  </splide>
</div>

<div class="top-seller m-b-t-50">

  <div class="d-flex justify-content-between align-items-center">
        <h2 class="heading">Top Sellers</h2>
        <button class="btn view">View all <ng-icon name="heroArrowLongRight"></ng-icon> </button>
      </div>
  <div class="trending d-flex flex-wrap flex-row justify-content-evenly">
    <ng-container *ngFor="let item of product; let i=index">
      <app-product-card [product]="item" (productId)="productRoute($event)"></app-product-card>
    </ng-container>
  </div>
</div>

<div class="category">
  <div class="main">
    <div class="left">
      <div class="imageMain">
        <div class="overlay"></div>
        <img class="image" src="../../../assets/home/wardrobe.jpg" alt="" srcset="">
      </div>
      <div class="content">
        <p class="context">new season</p>
        <div class="text">
          <h2 class="head">Latest Men's wear</h2>
          <p class="subtext">Dress sharp, feel confident.</p>
          <button class="btn shopNow">Shop Now <ng-icon name="heroArrowLongRight" class="d-flex"></ng-icon></button>
        </div>
        <p class="hashtag m-0">#mangaloremerijaan</p>
      </div>
    </div>
    <div class="right">
      <div class="one">
         <div class="imageMain">
          <div class="overlay"></div>
        <img class="image" src="../../../assets/home/wardrobe.jpg" alt="" srcset="">
      </div>
      <div class="content">
        <p class="context">new season</p>
        <div class="text">
          <h2 class="head">Latest Men's wear</h2>
          <p class="subtext">Dress sharp, feel confident.</p>
          <button class="btn shopNow">Shop Now <ng-icon name="heroArrowLongRight" class="d-flex"></ng-icon></button>
        </div>
                <p class="hashtag m-0">#mangaloremerijaan</p>

      </div>
      </div>
      <div class="two">
         <div class="imageMain">
          <div class="overlay"></div>
        <img class="image" src="../../../assets/home/wardrobe.jpg" alt="" srcset="">
      </div>
      <div class="content">
        <p class="context">new season</p>
        <div class="text">
          <h2 class="head">Latest Men's wear</h2>
          <p class="subtext">Dress sharp, feel confident.</p>
          <button class="btn shopNow">Shop Now <ng-icon name="heroArrowLongRight" class="d-flex"></ng-icon></button>
        </div>
                <p class="hashtag m-0">#mangaloremerijaan</p>

      </div>
      </div>
    </div>
  </div>
</div>

<div class="review m-b-t-50">
  <h2 class="title">Latest Buyer Reviews</h2>
  <p class="subText">We take immense pride in the feedback we receive, and we want to share some recent reviews that showcase the satisfaction our customers have experienced.</p>
  <div class="reviewmain">
    <app-reviews></app-reviews>
  </div>
</div>
