<app-slider [product]="firstSlider"></app-slider>


<div class="new-arrival m-b-t-50">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="heading">Latest Arrivals</h2>
    <button class="btn view" (click)="viewAll()">View all <ng-icon name="heroArrowLongRight"></ng-icon></button>
  </div>
  <div class="newarrival d-flex flex-wrap flex-row justify-content-evenly">
    <ng-container *ngIf="latest$ | async as latest">
    <ng-container *ngFor="let item of latest.data;let i=index">
      <app-product-card [product]="item"></app-product-card>
    </ng-container>
    </ng-container>
  </div>
</div>

<div class="category mb-5 m-b-t-50">
  <div>
    <h2 class="heading text-center">shop by categories</h2>
    <!-- <button class="btn view">View all </button> -->
  </div>
  <app-category-card></app-category-card>
</div>

<div class="slider w-100">
  <app-slider [product]="secondSlider"></app-slider>

</div>

<div class="top-seller m-b-t-50">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="heading">Top Sellers</h2>
    <button class="btn view"  (click)="viewAll()">View all <ng-icon name="heroArrowLongRight"></ng-icon> </button>
  </div>
  <div class="trending d-flex flex-wrap flex-row justify-content-evenly">
    <ng-container *ngIf="topSeller$ | async as topSeller">
    <ng-container *ngFor="let item of topSeller.data; let i=index">
      <app-product-card [product]="item"></app-product-card>
    </ng-container>
    </ng-container>
  </div>
</div>

<!-- <div class="category">
  <div class="main">
    <div class="left">
      <div class="imageMain">
        <div class="overlay"></div>
        <img loading="lazy"  class="image" src="../../../assets/home/wardrobe.jpg" alt="" srcset="">
      </div>
      <div class="content">
        <p class="context">new season</p>
        <div class="text">
          <h2 class="head">Latest Men's wear</h2>
          <p class="subtext">Dress sharp, feel confident.</p>
          <button class="btn shopNow">Shop Now <ng-icon name="heroArrowLongRight" class="d-flex"></ng-icon></button>
        </div>
        <p class="hashtag m-0">#mangaloremerijaan</p>
      </div>
    </div>
    <div class="right">
      <div class="one">
        <div class="imageMain">
          <div class="overlay"></div>
          <img loading="lazy"  class="image" src="../../../assets/home/wardrobe.jpg" alt="" srcset="">
        </div>
        <div class="content">
          <p class="context">new season</p>
          <div class="text">
            <h2 class="head">Latest Men's wear</h2>
            <p class="subtext">Dress sharp, feel confident.</p>
            <button class="btn shopNow">Shop Now <ng-icon name="heroArrowLongRight" class="d-flex"></ng-icon></button>
          </div>
          <p class="hashtag m-0">#mangaloremerijaan</p>

        </div>
      </div>
      <div class="two">
        <div class="imageMain">
          <div class="overlay"></div>
          <img loading="lazy"  class="image" src="../../../assets/home/wardrobe.jpg" alt="" srcset="">
        </div>
        <div class="content">
          <p class="context">new season</p>
          <div class="text">
            <h2 class="head">Latest Men's wear</h2>
            <p class="subtext">Dress sharp, feel confident.</p>
            <button class="btn shopNow">Shop Now <ng-icon name="heroArrowLongRight" class="d-flex"></ng-icon></button>
          </div>
          <p class="hashtag m-0">#mangaloremerijaan</p>

        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="banner">
  <div class="banner_head first">
    <img src="../../../assets/home/banner/force-majeure-00tlC0Clfrs-unsplash.jpg" alt="" srcset="" class="banner_image w-100 h-100">
    <div class="overlay"></div>
    <div class="banner_text">
      <h2 class="heading text-center">Latest wear</h2>
      <p class="subHead">Dress sharp, feel confident.</p>
      <button class="btn bannerBtn">
        Shop Now <ng-icon name="heroArrowLongRight"></ng-icon>
      </button>
    </div>
  </div>
  <div class="banner_head second">
    <img src="../../../assets/home/banner/force-majeure-00tlC0Clfrs-unsplash.jpg" alt="" srcset="" class="banner_image w-100 h-100">
    <div class="overlay"></div>
    <div class="banner_text">
      <h2 class="heading text-center">Latest wear</h2>
      <p class="subHead">Dress sharp, feel confident.</p>
      <button class="btn bannerBtn">
        Shop Now <ng-icon name="heroArrowLongRight"></ng-icon>
      </button>
    </div>
  </div>
</div>

<div class="review m-b-t-50">
  <h2 class="title">Happy Customers</h2>
  <p class="subText">Hear what our satisfied customers have to say</p>
  <div class="reviewmain">
    <app-reviews></app-reviews>
  </div>
</div>
