.login {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(43, 43, 43, 0.54), rgba(53, 53, 53, 0.59)), url('../../../assets/loginImg/otpScreenBg.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  &_main {
    width: 100%;
    height: 100%;

    .card {
      width: 570px;
      height: 580px;
      border-radius: 24px;
      padding: 42px;

      @media (max-width:480px) {
        padding: 10px;
      }

      .card-body {
        .card-title {
          width: 140px;
          padding-bottom: 20px;
        }

        .card-subtitle {
          color: #5B5B5B;
          font-size: 24px;
          font-weight: 700;
          padding-bottom: 20px;
        }

        .card-text {
          font-size: 18px;
          text-align: center;
          padding: 10px 0px;

          button {
            font-size: 18px;

            &:disabled {
              border: none;
              background-color: white;
            }
          }
        }

        .verifyBtn {
          margin-top: 20px;
          background-color: #005F5F;
          color: white;
          padding: 13px 0px;
        }
      }

      .back {
        color: #005F5F;
      }
    }

  }
}

countdown {
  text-align: right;
  margin: auto;
  display: block;
  padding-right: 40px;

}