<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<hr>
<div class="top">
  <div class="container d-flex">
    <ng-container *ngFor="let item of featurContent">

      <div class="main ">
        <div class="content d-flex m-2">
          <div class="img m-2">
            <img [src]="item.img" alt="" srcset="" class="w-100">
          </div>
          <div class="text">
            <h3>{{item.head}}</h3>
            <p>{{item.text}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- footer  -->
<footer class="footer">
  <div class="container">
    <h2>Dress to impress!</h2>
    <p>Get VIP access to fresh styles and hot deals.</p>
    <div class="input-group m-auto">
      <input type="text" name="" id="" placeholder="Email" class="form-control">
      <span class="input-group-text"><ng-icon name="heroArrowLongRight" class="d-flex"></ng-icon></span>
    </div>
    <div class="logo">
      <img src="assets/mmj_logo.png" alt="" srcset="" class="w-100">
    </div>
    <div class="main d-flex justify-content-center">
      <ng-container *ngFor="let item of footer">

        <div class="quickAction">
          <h5 class="text-center">{{item.head}}</h5>
          <ng-container *ngFor="let catgItem of item.category">
            <p (click)="footerNavigate(catgItem.navigate)">{{catgItem.title}}</p>
          </ng-container>
        </div>
      </ng-container>

    </div>
  </div>
</footer>