@import '../../../assets/style/variable.scss';
.top {
  padding: 0;
  // height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-white;



  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    // @media (max-width:1100px) {
    //   flex-direction: row;
    //   flex-shrink: 10px;
    //   flex-wrap: wrap;
    //   justify-content: center;
    // }
    @media (max-width:1000px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width:480px) {
      grid-template-columns: 1fr;

    }

    .main {
      .content {
        border-radius: 6px;
        border: 1px solid $light-white-shadow;

        .img {
          padding-left: 20px;
          display: flex;
          align-items: center;
          width: 5em;
        }

        .text {
          padding: 1em;

          h3 {
            color: $title-black;
            font-size: 18px;
            line-height: 119.682%;
            /* 22.74px */
            letter-spacing: 0.38px;
            text-transform: capitalize;
          }

          p {
            color: $description-black;
            font-size: 14px;
            line-height: 188.5%;
            /* 28.275px */
            letter-spacing: 0.3px;
            text-transform: capitalize;
          }
        }
      }




    }
  }
}



// footer
footer {
  // margin-top: 20px;
  background-color: $primary-green;

  .container {
    padding: 30px 0px ;
    color: $primary-white;

    .head {
      font-size: 18px;
    }

    .subHead {
      font-size: clamp(12px, 1.5vw, 16px);
    }

    h2,
    .subHead {
      text-align: center;
    }

    .input-group {
      width: 100%;

      @media (min-width:768px) {
        width: 50%;
      }
    }

    .logo {
      width: 10em;
      margin: 10px auto;
    }

    .main {
      gap: calc(100%/3);
      flex-wrap: wrap;

      .quickAction {
        margin-top: 20px;



        p {
          font-size: 18px;
          padding: 5px;
        }
      }
    }
  }
  .copywrite{
    padding:  10px;
    color: $med-white;
    font-size: 12px;
  }
}
