<div [@slideInFromRight] class="right-hidden-dialog">
  <button class="btn close d-block">

    <mat-icon class="mat-18" (click)="close()">close</mat-icon>
  </button>
  <div class="main">
    <div class="head d-flex justify-content-flex-start align-item-center">
      <h3 class="m-0">Shopping Bag &nbsp; </h3>
      <p class="m-0 align-self-center">( 2 items )</p>

    </div>
    <hr>
    <div class="main1">
      <ng-container *ngIf="cartItems$ | async as cartItems">


      <ng-container *ngIf="cartItems.data.length > 0; else emptyBlock">

        <ng-container *ngFor="let item of cartItems.data">
          <app-cart-product-card [categoryItem]="item" (removedFromCart)="getCartItem()" (closeModel)="close()"></app-cart-product-card>
        </ng-container>
      </ng-container>
      <ng-template #emptyBlock>
        <div class="empty">
        <img loading="lazy"  src="../../../../assets/empty-cart-svgrepo-com.svg" alt="" srcset="empty cart" class="w-100">
        <p>Your cart is empty</p>
        <button class="shop btn" (click)="shop()">Continue Shopping</button>
      </div>
      </ng-template>



      <app-order-detail  [orderDetails]="orderDetail"></app-order-detail>
      <button *ngIf="cartItems.data.length > 0" mat-button (click)="checkout()" class="checkout p-3 mt-2 btn">Check Out -
        $61.00</button>
      </ng-container>

    </div>
  </div>
</div>
