@import '../../../../assets/style/variable.scss';
.close {
  display: block;
  text-align: end;
  margin-left: auto;
  margin-top: 1rem;
}

.main {
  padding: 10px;
  height: 95vh;
  overflow-y: scroll;

  .head {
    align-self: center;
  }
}

.noItem {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main1 {
  &:last-child {
    margin-bottom: 100px;
  }
}

.checkout {
  background-color: $primary-green;
  color: $primary-white;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 5px;
  width: 90%;
  margin: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
}
.empty{
  width: 12rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
 .shop{
  background-color: $primary-green;
  color: $primary-white;
  width: auto;
  border-radius: 10px;
  margin: auto;
  padding: 10px 15px;
 }
}
