<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div [@slideInFromLeft] class="left-hidden-dialog">
  <button class="btn close">

    <mat-icon class="mat-18" (click)="close()">close</mat-icon>
  </button>

    <div class="dropdown">
      <div class="list">
        <ul>
          <li class="item" (click)="navigate('home')">Home</li>
          <li class="item" (click)="navigate('allProduct')">Best Seller</li>
          <li class="item" (click)="navigate('anime')">Anime X Gym</li>
          <li class="item"(click)="navigate('casual')">Casual</li>
          <li class="item" (click)="navigate('profile')">Account</li>
          <li class="item"(click)="navigate('login')">Login</li>
          <li class="item social">
            <ng-icon name="featherInstagram"></ng-icon>
            <ng-icon name="featherFacebook"></ng-icon>
          </li>
        </ul>
      </div>
    </div>
</div>
