@import '../../../../assets/style/variable.scss';
.main {
  background-color: $light-white-shadow;
  box-shadow: 0.2ox 0.2px 5px $primary-black;
  color: $description-black;
}
form{
  .formMain{
  display: grid;
 grid-template-columns: 1fr 1fr;
  gap: 10px;
  @media (max-width: 400px) {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  }
}

label,
.head {
  color: $primary-green;
}

.modal-header {
  justify-content: flex-end;
  padding: 20px;
}

.submit {
  background-color: $primary-green;
  padding: 10px;
}

.cancel {
  background-color: $black-overlay-2;
}
 @media (max-width: 768px) {
  label, input{
    font-size: 12px;
  }

 }
