.main {
  background-color: #fdfdfd;
  box-shadow: 0.2ox 0.2px 5px black;
  color: #373737;
}
form{
  .formMain{
  display: grid;
 grid-template-columns: 1fr 1fr;
  gap: 10px;
  @media (max-width: 400px) {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  }
}

label,
.head {
  color: #005F5F;
}

.modal-header {
  justify-content: flex-end;
  padding: 20px;
}

.submit {
  background-color: #005F5F;
  padding: 10px;
}

.cancel {
  background-color: #c2c2c2;
}
 @media (max-width: 768px) {
  label, input{
    font-size: 12px;
  }

 }
